
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  padding-bottom: 20px;
  background: #f5ec8c;
  

}
li {
    list-style-type: none;
}

